* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
}

.navbar {
    background-color: #004080;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero-section {
    background: linear-gradient(to right, #6dd5fa, #2980b9);
    color: white;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: #004080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    background-color: #cce0ff;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.page-section, .form-section{
    padding: 3rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.page-section h1, .form-section h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #004080;
}
.form-section form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.form-section input,
.form-section textarea{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
.form-section textarea{
    resize: vertical;
    height: 100px;
}
.form-section button{
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}
.form-section button:hover{
    background-color: #0066cc;
}
.nav-links .active{
    text-decoration: underline;
    font-size: bold;
}